* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    min-height: 300px;
    border: #4d6796 solid;
    background-color: #dcdbe4
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin-bottom: 10px;
    color: #4d6796;
    font-style: bold;

}

img {
    width: 30px;
    margin-right: 20px;


}



p {
    font-style: italic;
    font-size: 15px;
    margin-bottom: 20px;
    color: white;
    padding: 5px;
    border-radius: 4px;
    background-color: #4d6796;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #4d6796;
    margin-bottom: 4px;
}

button {
    background: #4d6796;
    color: white;
    padding: 10px 20px;
    border: 1px solid #4d6796;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
    width: 122px;
    text-align: center;
    border-radius: 5px;

}



#delete-btn {
    background: white;
    color: #4d6796;
    margin-top: 20px;
}

ol {
    margin-top: 20px;
    padding-left: 20px;
    color: #4d6796;
}

li {
    margin-top: 5px;
    font-size: 15px;

}

a {
    color: #4d6796;
}